<div class="flex w-full flex-row place-content-evenly text-lg text-white header font-bold">
    <ul>
        <% if user_signed_in? %>
            <div class="inline-block mx-10 my-5"> <%= link_to 'Home', root_path, class: "hover:text-white" %> </div>
            <div class="inline-block mx-10">Profile</div>
            <div class="inline-block mx-10"> <%= link_to 'Anime list', lists_path, class: 'link hover:text-white' %> </div>
        <% else %>
            <div class="inline-block my-5 mx-10"> <%= link_to 'Login', new_user_session_path, class: 'link hover:text-white'  %> </div>
            <div class="inline-block mx-10"> <%= link_to 'Signup', new_user_registration_path, class: 'link hover:text-white' %> </div>
        <% end %>
            <div class="inline-block mx-10">Forum</div>
            <div class="inline-block mx-10 dropdown">Browse
                <div class="dropdown-content">
                    <%= link_to 'Anime', animes_path %>
                    <%= link_to 'Characters', characters_path %>
                </div>
            </div>
    </ul>
</div>

<div class='fixed top-5 right-5'>
    <i class="bi bi-person-circle text-2xl text-white"></i>
</div>
