<%= link_to anime do %>
  <div id="<%= dom_id anime %>" class='h-72 m-4 text-center'>

    <% if anime.image.representable? %>
      <%= image_tag anime.image, class: "rounded-lg" %>
    <% else %>
      <%= link_to rails_blob_path(anime, disposition: "attachment") do %>
        <%= image_tag "#{anime.name}", alt: "Download file" %>
      <% end %>
    <% end %>
    <div>
      <%= anime.name %>
    </div>
  </div>
<% end %>
